body {
  background-color: beige;
}
h1 {
  font-family: "Baumans", "Sans serif";
  font-size: 40px;
  text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wrapper {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  width: 50%;
  background-color:burlywood;
}
.container {
  margin: auto;
  width: 50%;
  padding-bottom: 70px;
}
.option {
  background-color: #008CBA;
  color: white;
  font-family: "Baumans", "Sans serif";
  font-size: 20px;
  padding: 12px 28px;
  width: 50%;
}
.option:hover {
  background-color: #569fb8;
}
.score-box, .timer-box {
  font-family: "Baumans", "Sans serif";
  font-size: 40px;
  text-align: center;
  width: 25%;
  padding: 70px 0;
  margin: 10px top;
}
.score, .timer {
  font-family: "Roboto Mono", "Sans serif";
  font-size: 35px;
}
